.new-arrival-product{
	.new-arrivals-img-contnent{
		overflow:hidden;
		
		img{
			width:100%;
			@include transitionMedium;
		}
	}
	&:hover .new-arrivals-img-contnent img{
		transform: scale(1.1) translateY(0%);
		-moz-transform: scale(1.1) translateY(0%);
		-webkit-transform: scale(1.1) translateY(0%);
		-ms-transform: scale(1.1) translateY(0%);
		-o-transform: scale(1.1) translateY(0%);
	}
}
.card-body{
	&.product-grid-card{
		padding:15px;
	}
}